html,body,#app,.container,.container-body{
    width: 1400px;
}
.sidebar {
    min-width:200px;
    margin-right: 5px;
}
.form-left{
    width:500px;
    border:1px solid;
    padding:5px;
    border-radius: 5px;
    margin-right: 5px;
}
.form-right{
    width:455px;
    border:1px solid;
    padding:5px;
    border-radius: 5px;
}
.form-group{
    padding: 5px 0;
}
.text-center {
    text-align:center
}
.form-control{
    height: 25px ; 
    width: 60%;
    border: 1px solid;
    border-radius: 3px;
}
.form-label{
    width: 40%;
}
.d-flex{
    display: flex;
}
button.reset{
    background: red;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: unset;
    cursor: pointer;
}
#employee {
    border-collapse: collapse;
    width: 100%;
}

#employee td, #employee th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employee tr:nth-child(even){background-color: #f2f2f2;}

#employee tr:hover {background-color: #ddd;}

#employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0c9de0;
    color: white;
}
button.submit {
    height: 35px;
    width: 150px;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    background: #0c9de0;
    color: white;
    margin-left: 5px
}
.justify-content-between{
    justify-content: space-between;
}
.required{
    border: 1px solid red !important;
}
.text-danger{
    color: red;
    text-align: right;
    margin: 10px 0;
}
.table-list{
    min-width: 1400px;
    border-radius: 5px;
}
.menu{
    border-bottom: unset;
    display: flex;
    padding: unset;
    cursor: pointer;
}

.menu .active{
    background: #0c9de0;
    color: white;
}
.menu a{
    width: 100%;
    text-decoration: unset;
    padding: 10px;
    color: black;
} 
.edit-form{
    position: fixed;
    background: #0000006b;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.form-body{
    background: white;
    width: 450px;
    position: absolute;
    height: auto;
    padding: 25px;
}
.edit-form .form-control{
    width: 70%;
    border: 1px solid #0000005c;
    border-radius: 5px;
    height: 30px;
    color: black
}
.edit-form .checkbox{
    height:auto;
    width: auto;
}

.edit-form label{
    width: 35%;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    color:black;
    white-space: nowrap
}
.edit-form-footer{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.form {
    width: 100%;
    display: flex;
    padding: 3px 0;
}
.edit-form span {
    font-weight: bold;
}
.edit-form .btn-cancel{
    background: #c5c5c5;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: unset;
    cursor: pointer
}
.edit-form .btn-submit{
    background: #0c9de0;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: white;
    border: unset;
    cursor: pointer
} 
.clear-space{
    width: 10px;
}
#employee{
   width: 1200px;
}
th{
    min-width: 80px;
    white-space: nowrap;
}
