<template>
  <div class="table-list">
    <h3 class="text-center">Empolyee List</h3>
    <table id="employee">
      <thead>
        <tr>
          <td colspan="11">
            <div class="d-flex justify-content-between">
              <span>Total Employee : {{ totalEmployee }}</span>
              <div>
                <input type="checkbox" name="isShowActionButton" id="is-show-action-button" v-model="isShowActionButton" />
                <label for="is-show-action-button">Show Action Button</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Basic Salary</th>
          <th>Join Date</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody v-if="employees.length > 0">
        <tr v-for="employee in employees" v-bind:key="employee.id">
          <td>{{ employee.id }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.salary() }}</td>
          <td>{{ employee.joinDate }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phoneNumber }}</td>
          <td>{{ employee.address }}</td>
          <td><span v-html="employee.status()"></span></td>
          <td>
            <div class="d-flex">
              <fa icon="trash" style="width: 40px;color:red" v-show="isShowActionButton" v-on:click="deletEmployeeRecord(employee.id)"/>
              <fa icon="edit"  style="width: 40px"  v-show="isShowActionButton" @click="editEmployee(employee.id)"/> 
            </div>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="11" class="text-center">No Employee</td>
        </tr>
      </tbody>
    </table>
    <div class="edit-form" v-if="editModel.isEditing">
      <div class="form-body">
        <span>Edit Employee</span>
        <AddOrEditEmployee :employeeModelProp="editModel" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { EmployeeDto } from "../Dtos";
import { AddOrEditEmployee } from "../components";
import { computed, defineComponent, reactive, ref } from "vue";
import { useStore } from "vuex";
export default defineComponent({
  name: "EmployeeList",
  components: {
    AddOrEditEmployee,
  },
  setup() {
    const { getters, state, commit } = useStore();
    const editModel = reactive(new EmployeeDto());
    const isShowActionButton = ref(true);
    const employees = computed(function (): EmployeeDto[] {
      return state.employees.map((data: EmployeeDto) => new EmployeeDto(data));
    });
    const totalEmployee = computed(function (): number {
      return getters.employeeCount;
    });

    const deletEmployeeRecord = (id: string): void => {
      if (confirm("Are you sure you want to delete Employee?")) {
        let employeesData = employees.value;
        const newData = employeesData.filter(
          (employee: EmployeeDto) => employee.id != id
        );
        commit("deleteOrUpdateEmployee", newData);
      }
    };
    const editEmployee = (id: string): void => {
      let employeesData = employees.value;
      let employee = employeesData.find(
        (employee: EmployeeDto) => employee.id == id
      ) as EmployeeDto;
      employee.isEditing = true;
      Object.assign(editModel, employee);
    };

    return {
      editModel,
      isShowActionButton,
      employees,
      totalEmployee,
      deletEmployeeRecord,
      editEmployee,
    };
  },
});
</script>