<template>
  <div style="width: 100%" class="d-flex">
    <div class="form-left">
      <h3 class="text-center">Register Form</h3>
      <AddOrEditEmployee :employeeModelProp="dataModel" />
    </div>
    <RegisterPreview :dataModel="dataModel"/>
  </div>
</template>
<script lang="ts">
import { RegisterPreview, AddOrEditEmployee } from "../components";
import { defineComponent, reactive } from "vue";
import { EmployeeDto } from '../Dtos'
export default defineComponent({
  name: "NewEmployee",
  components: {
    RegisterPreview,
    AddOrEditEmployee,
  },
  setup(){
    const dataModel = reactive(new EmployeeDto());
    return { dataModel }
  }
});
</script>
