<template>
  <div class="form-group d-flex">
    <label for="firstname" class="form-label">First Name : </label>
    <input
      type="text"
      v-model="employeeModel.firstName"
      id="firstname"
      class="form-control"
      v-bind:class="{ required: requiredField.firstName }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="lastname" class="form-label">Last Name : </label>
    <input
      type="text"
      v-model="employeeModel.lastName"
      id="lastname"
      class="form-control"
      v-bind:class="{ required: requiredField.lastName }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="email" class="form-label">Email : </label>
    <input
      type="text"
      v-model="employeeModel.email"
      id="email"
      class="form-control"
      v-bind:class="{ required: requiredField.email }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="phonenumber" class="form-label">Phone Number : </label>
    <input
      type="text"
      v-model="employeeModel.phoneNumber"
      id="phonenumber"
      class="form-control"
      v-bind:class="{ required: requiredField.phoneNumber }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="address" class="form-label">Address : </label>
    <input
      type="text"
      v-model="employeeModel.address"
      id="address"
      class="form-control"
      v-bind:class="{ required: requiredField.address }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="gender" class="form-label">Gender : </label>
    <select v-model="employeeModel.gender" id="gender" class="form-control">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="form-group d-flex">
    <label for="basicsalary" class="form-label"
      >Basic Salary ({{ employeeModel.currency }}) :
    </label>
    <input
      type="number"
      v-model="employeeModel.basicSalary"
      id="basicsalary"
      class="form-control"
      v-bind:class="{ required: requiredField.basicSalary }"
    />
  </div>

  <div class="form-group d-flex">
    <label for="joindate" class="form-label">Join Date : </label>
    <input
      type="date"
      v-model="employeeModel.joinDate"
      id="joindate"
      class="form-control"
      v-bind:class="{ required: requiredField.joinDate }"
    />
  </div>
  <div class="form-group d-flex">
    <label for="isactive" class="form-label">IsActive : </label>
    <input type="checkbox" v-model="employeeModel.isActive" id="isactive" />
  </div>
  <div  class="text-danger" style="height: 20px;">
    <span v-if="requiredField.isNotMacthRequirement()">
       please fill all red boxes to continue!!
    </span>
  </div>
  <div class="text-center" v-if="!employeeModel.isEditing">
    <button v-on:click="resetForm" class="reset">Reset</button>
    <button v-on:click="addEmployee" class="submit">Add</button>
  </div>
  <div class="edit-form-footer" v-else>
    <button class="btn-cancel" @click="cancelEdit">Cencel</button>
    <div class="clear-space"></div>
    <button class="btn-submit" @click="updateEployee">Update</button>
  </div>
</template>
<script lang="ts">
import { EmployeeDto,NewEmployeeRequiredField } from '@/Dtos';
import { computed, defineComponent, PropType, reactive,ref } from "vue";
import { useStore } from "vuex";
import {  useRouter } from 'vue-router';
export default defineComponent({
  name: "AddOrEditEmployee",
  props: {
    employeeModelProp: {
      type: Object as PropType<EmployeeDto>,
    },
  },
  setup(props){
    const route = useRouter();
    const { state,commit } = useStore();
    const requiredField = reactive(new NewEmployeeRequiredField);
    const employeeModel = reactive( props.employeeModelProp as EmployeeDto);
    const employees = computed(function () : EmployeeDto[]{
      return state.employees.map((data : EmployeeDto) => new EmployeeDto(data))
    });
    const isEditing = ref(employeeModel.isEditing)
    const resetForm = () : void => {
        Object.assign(employeeModel, new EmployeeDto());
        resetRequredFields();
    }
    const resetRequredFields = () : void => {
        Object.assign(requiredField,  new NewEmployeeRequiredField());
    }
    const checkifMatchRequreField = () : boolean =>{
      resetRequredFields();
      if (employeeModel.firstName == "") {
        requiredField.firstName = true;
      }
      if (employeeModel.lastName == "") {
        requiredField.lastName = true;
      }
      if (employeeModel.joinDate == "") {
        requiredField.joinDate = true;
      }
      if (employeeModel.email == "") {
        requiredField.email = true;
      }
      if (employeeModel.phoneNumber == "") {
        requiredField.phoneNumber = true;
      }
      if (employeeModel.address == "") {
        requiredField.address = true;
      }
      if (employeeModel.basicSalary <= 0) {
        requiredField.basicSalary = true;
      }
      return requiredField.isNotMacthRequirement();
    }
    const  addEmployee = () : void => {
      if (checkifMatchRequreField() == false) {
        employeeModel.id = generateEmployeeId();
        commit("addNewEmployee", { ...employeeModel });
        resetForm();
        route.push({name : "EmployeeList"});
      }
    }
    const  generateEmployeeId = (firstPart?: string, secondPart?: string): string =>{
      firstPart = ((Math.random() * 46656) | 0).toString();
      secondPart = ((Math.random() * 46656) | 0).toString();
      firstPart = ("000" + firstPart).slice(-3);
      secondPart = ("000" + secondPart).slice(-3);
      return firstPart + secondPart;
    }
    const cancelEdit = () => {
      employeeModel.isEditing = false
    }
    const updateEployee = (): void => {
        if (checkifMatchRequreField() == false) {
            const employeeData = employees.value;
            const targetEmployee= employeeData.findIndex(
                (x) => x.id == employeeModel.id
            ) as number;
            employeeData[targetEmployee] = { ...employeeModel };
            commit("deleteOrUpdateEmployee", employeeData);
            cancelEdit();
        } 
    }
    return {
      employeeModel,
      requiredField,
      addEmployee,
      updateEployee,
      cancelEdit,
      resetForm,
      isEditing
    };
  }
});
</script>
