<template>
   <div class="form-right">
        <h3 class="text-center">Preview</h3>
        <div class="form-group">
            <label>First Name : </label>
            <span>{{dataModel.firstName}}</span>
        </div>
        <div class="form-group">
            <label >Last Name : </label>
            <span>{{dataModel.lastName}}</span>
        </div>
        <div class="form-group">
            <label>Full Name : </label>
            <span>{{ dataModel.fullname() }}</span>
        </div>
        <div class="form-group">
            <label>Email : </label>
            <span>{{dataModel.email}}</span>
        </div>
        <div class="form-group">
            <label >Phone Number : </label>
            <span>{{dataModel.phoneNumber}}</span>
        </div>
        <div class="form-group">
            <label class="form-label">Address : </label>
            <span>{{dataModel.address}}</span>
        </div>
        <div class="form-group">
            <label>Gender : </label>
            <span>{{dataModel.gender}}</span>
        </div>
        <div class="form-group">
            <label >Basic Salary : </label>
            <span>{{dataModel.salary()}}</span>
        </div>
        <div class="form-group">
            <label >Join Date : </label>
            <span>{{dataModel.joinDate}}</span>
        </div>
        <div class="form-group">
            <label >Status : </label>
            <span v-html="dataModel.status()"></span>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
    name : 'RegisterPreview',
    props: {
        dataModel : {
            type:Object,
            required :true
        }
    }
})
</script>