<template>
  <div style="height: 100%;">
    <div class="d-flex container-body">
      <div class="sidebar">
        <div class="menu">
          <router-link to="/"  active-class="active"><fa icon="user"/> Employee List ({{totalEmployee}})</router-link>
        </div>
        <div class="menu">
          <router-link to="/new-employee"  active-class="active"><fa icon="user-plus"/> New Employee</router-link>
        </div>
      </div>
      
      <div style="margin:0 10px;">
          <router-view></router-view>
      </div>
      </div>
  </div>
  
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "vuex";
export default defineComponent({
  name: 'App',
  setup (){
    const { getters } = useStore()
    const totalEmployee = computed((): number => getters.employeeCount);
    return { totalEmployee }
  }
})
</script>